/* style.css */

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif; /* Change to a vintage font */
    background-color: #f5f0e1; /* Light beige background color reminiscent of parchment */
    color: #2c241b; /* Dark brown text color */
}

h1 {
    text-align: center;
    font-family: 'Old Standard TT', serif; /* Change to a classic serif font */
    color: #4a3f35; /* Dark brown heading color */
}

#editPostForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* White background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #7b5f4c; /* Brown button color reminiscent of leather */
    color: #f5f0e1; /* Light beige text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #5d4635; /* Darker brown color on hover */
}

footer {
    background-color: #4a3f35; /* Dark brown footer */
    color: #f5f0e1; /* Light text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 0.8rem;
  }