/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    margin: 0px;
    font-family: 'Times New Roman', Times, serif; /* Change to a vintage font */
    text-align: left; /* Align everything to the left */
    background-color: #f5f0e1; /* Light beige background color reminiscent of parchment */
    color: #2c241b; /* Dark brown text color */
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.icon {
    width: 18px;
    height: 18px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0.5rem;
    transition: all .2s;
    align-self: center;
    background-color: #7b5f4c; /* Brown button color reminiscent of leather */
    color: #f5f0e1; /* Light beige text color */
    font-size: 12px;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #5d4635; /* Darker brown color on hover */
}

.header,
.cardHeader {
    text-align: center;
    margin: 0;
}

.header h1 {
    font-family: 'Old Standard TT', serif; /* Change to a classic serif font */
    color: #4a3f35; /* Dark brown heading color */
}

.cardHeader {
    height: 40px;
    display: flex;
    align-items: center;
}

.main {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between;
}

.suggestedFriendsList,
.friendsList,
.requestsList {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 1rem;
}

.suggestedFriendsList li,
.friendsList li,
.requestsList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.suggestedFriendsList li button,
.friendsList li button,
.requestsList li button {
    width: 100%;
}

.mainSection {
    display: flex;
    flex-direction: column;
    background-color: #fff; /* White background color */
    padding: 20px;
    border-radius: 5px;
    flex: 1; /* Allow sections to grow */
    margin-top: 20px; /* Add margin-top for spacing */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

#suggested-friends-container,
#friends-container,
#requests-container {
    width: calc(33.33% - 10px); /* Adjust width to fit three sections side by side with spacing */
    margin-right: 10px; /* Add margin between sections */
}

.add-friend-button-container {
    width: 100%; /* Make container full width */
    display: flex;
    justify-content: center; /* Center the button horizontally */
    margin-top: 20px; /* Add margin-top for spacing */
}

.smallBtn {
    font-size: 12px; /* Adjust font size */
    padding: 5px 10px; /* Adjust padding */
    width: auto; /* Adjust width */
    height: auto; /* Adjust height */
}
