body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f5f0e1;
    color: #2c241b;
}

h1 {
    font-family: 'Old Standard TT', serif;
    color: #4a3f35;
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

button#returnHomeButton {
    background-color: #7b5f4c;
    color: #f5f0e1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button#returnHomeButton:hover {
    background-color: #5d4635;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 70%;
    max-width: 400px;
    background-color: #7b5f4c;
    color: #f5f0e1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #5d4635;
}

p {
    margin-top: 20px;
}

a {
    color: #4a3f35;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #4a3f35;
    color: #ffffff;
    padding: 20px;
  }
/* Add this to your CSS */

.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
#register-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    background-color: #4a3f35; /* Dark brown footer */
    color: #f5f0e1; /* Light text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer p {
    margin: 0;
    font-size: 0.8rem;
  }