/*body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #555;
    padding: 5px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#books-container,
#user-posts-container {
    width: 60%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}*/
body {
    margin: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FDB813; /* Orange background color */
    color: #000; /* Black text color */
}

h1 {
    text-align: center;
}

.main {
    margin-left: 20px;
    margin-right: 20px;
}

.navig ul {
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navig a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navig a:hover {
    background-color: black;
}

.navig li {
    float: left;
}

#posts-container,
#user-posts-container,
#profile-container {
    margin-top: 20px;
}

.post,
#user-posts-container .post,
.post-details {
    border-top: 1px solid #FFF; /* White border between details */
    margin-top: 10px;
    padding-top: 10px;
}

.post-details > div {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #FFF; /* White border between details */
}

.post-details > div:last-child {
    border-right: none;
}

.post-actions {
    margin-top: 10px;
}

.post-actions button {
    background-color: #FFA500;
    color: black;
    padding: 5px 10px;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.post-actions button:hover {
    background-color: #FF8C00;
}
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}
